.section__hero {
    width: 100%;
    min-height: 100vh;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.name {
    font-weight: 500;
    font-size: 2.5rem;
}

.name span {
    font-weight: 700;
}

.level {
    font-weight: 800;
    font-size: 3rem;
    text-transform: capitalize;
}

.level span {
    color: #ffffff;
    -webkit-text-stroke: 1px #000000;
    text-stroke: 1px #000000;
}

.hero__desc {
    color: #525252;
    font-size: 1rem;
}

.hero__socials {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hero__socials a {
    text-decoration: none;
    color: #000;
}

.social {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social i {
    font-size: 1.2rem;
}